body{
	background-color: rgb(44, 44, 44);
	color: white;
}

.bg-custom-dark {
	background-color: rgb(44, 44, 44);
}

.btn {
	width: 100px;
}

.resumeCard{
	min-height: 300px;
}

embed{
	max-width: 1024px;
	align-self: center;
}

#welcome{
	width: 800px;
	margin: auto;
	margin-top: 30vh;
	
}



/*Edit Exo Firebase*/
#edit-user-module {
display: none;
}